body {
    background-color: white;
}

#FPS {
    color: red;
    position: absolute;
    font-size: 50px;
    top: 0px;
    left: 0px;
}

html, body {
  margin: 0;
  height: 100%;
}

#scene {
  background: red; /* Temporary background color for visibility */
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}