body {
    background-color: white;
}

p {
    color: black;
}

html, body {
  margin: 0;
  height: 100%;
}

#scene {
  background: red;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}